.board-grid1{
    background-color: #e88e27;
    height: 70px;
    width: 70px;
    min-width: 30px;
    min-height: 40px;
    border:solid 1px black ;
    font-size: 3rem;
    text-align: center;
}
.board-grid2{
    background-color: #f7cfa1;
    height: 70px;
    width: 70px;
    border:solid 1px black ;
    min-width: 30px;
    min-height: 30px;
    font-size: 3rem;
    text-align: center;
}
.displayRow{
    display:flex;
}
.changeColor{
    background-color:#07f05c;
    height: 70px;
    width: 70px;
    border:solid 1px black ;
    font-size: 3rem;
    min-width: 30px;
    min-height: 30px;
    text-align: center;

}
.App{
    margin-left: 350px;
}
.winner{
    margin:0px;
    margin-right: 400px;
    padding:0px; 
    font-family: 'Courier New', Courier, monospace;
    
}
.board{
    margin-left:auto;
    margin-right:auto;
    margin-top:auto;
    margin-bottom:auto;

}