.replayBtn{
    background-color: black;
    width: 150px;
    height: 40px;
    color: white;
    outline: none;
    border-color:white ;
}
.winnerBoard{
    text-align: center;
    margin-top:200px ;
}
.text{
    font-family: 'Courier New', Courier, monospace;
}